.productParentDiv {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background-color: #ebeeef;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header span:first-child {
  font-size: 24px;
  color: #002f34;
}

.header span:last-child {
  font-size: 14px;
  color: #002f34;
}

.productCards {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.productCard {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favoriteIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.productImage img {
  max-width: 100%;
  max-height: 100%;
}

.productContent .price {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}

.productContent .category {
  font-size: x-large;
}

.productContent .productName,
.productContent .productDescription {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datePosted {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .header span {
  font-size: 24px;
  color: #002f34;
}
